In [49]:
import pandas as pd

In [50]:
df= pd.read_csv('table1.csv')
df2= pd.read_csv('table2.csv')
df3= pd.read_csv('table3.csv')
df4= pd.read_csv('table4.csv')
df5= pd.read_csv('table5.csv')

In [51]:
df.drop(columns= ['HMY', 'Rent', 'HMYPerson', 'hTenant', 'hTent'], inplace= True)
df2.drop(columns= ['HMY', 'Rent', 'HMYPerson', 'hTenant', 'hTent'], inplace= True)
df3.drop(columns= ['HMY', 'Rent', 'HMYPerson', 'hTenant', 'hTent'], inplace= True)
df4.drop(columns= ['HMY', 'Rent', 'HMYPerson', 'hTenant', 'hTent'], inplace= True)
df5.drop(columns= ['HMY', 'Rent', 'HMYPerson', 'hTenant', 'hTent'], inplace= True)

In [52]:
df= df[(df.sStatus== 'Past') | (df.sStatus== 'Current')]
df2= df2[(df2.sStatus== 'Past') | (df2.sStatus== 'Current')]
df3= df3[(df3.sStatus== 'Past') | (df3.sStatus== 'Current')]
df4= df4[(df4.sStatus== 'Past') | (df4.sStatus== 'Current')]
df5= df5[(df5.sStatus== 'Past') | (df5.sStatus== 'Current')]

In [53]:
df.HPerson.nunique()

45

In [54]:
df2.HPerson.nunique()

49

In [55]:
df3.HPerson.nunique()

62

In [56]:
df4.HPerson.nunique()

1364

In [57]:
df5.HPerson.nunique()

3486

In [58]:
df= pd.concat([df, df2, df3, df4, df5])

In [59]:
len(df)

242172

In [60]:
df.HPerson.nunique()

5004

In [61]:
df.head()

,HPerson,STOTALAMOUNT,SAmountPaid,BOPEN,HRetentionacct,SNOTES,HProperty,SRENT,HMY1,SNAME,sStatus,cRent,iTerm,dIncome,GuarantorRequired,TotalIncome,Recommendation,AverageApplicantAge,AvgRiskScore,ReasonThatDroveDecisionDescription
43,3946,5.00,5.00,0,191,Amenity fee (09/2022),136,1311.0,191,Amenity fee,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
44,3946,1192.00,1192.00,0,74,Rent (10/2021),136,1311.0,74,Rent,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
45,3946,-0.67,-0.67,0,180,Administration processing fee (02/2023) Credit...,136,1311.0,180,Administration processing fee,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
46,3946,1311.00,1311.00,0,74,Rent (05/2022),136,1311.0,74,Rent,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
47,3946,3.00,3.00,0,190,Pest control (12/2021),136,1311.0,190,Pest control,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History

In [63]:
df.columns= df.columns.str.lower()

In [64]:
df.head()

,hperson,stotalamount,samountpaid,bopen,hretentionacct,snotes,hproperty,srent,hmy1,sname,sstatus,crent,iterm,dincome,guarantorrequired,totalincome,recommendation,averageapplicantage,avgriskscore,reasonthatdrovedecisiondescription
43,3946,5.00,5.00,0,191,Amenity fee (09/2022),136,1311.0,191,Amenity fee,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
44,3946,1192.00,1192.00,0,74,Rent (10/2021),136,1311.0,74,Rent,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
45,3946,-0.67,-0.67,0,180,Administration processing fee (02/2023) Credit...,136,1311.0,180,Administration processing fee,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
46,3946,1311.00,1311.00,0,74,Rent (05/2022),136,1311.0,74,Rent,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History
47,3946,3.00,3.00,0,190,Pest control (12/2021),136,1311.0,190,Pest control,Past,1192,18,52500,False,666000,Accept,33,745,Insufficient period of Residence History

In [66]:
df= pd.read_csv('cws_residents.csv')

In [67]:
df

,HPerson,STOTALAMOUNT,SAmountPaid,BOPEN,HRetentionacct,SNOTES,HMY,HMYPerson,HProperty,SRENT,...,iTerm,hTenant,dIncome,GuarantorRequired,TotalIncome,Rent,Recommendation,AverageApplicantAge,AvgRiskScore,ReasonThatDroveDecisionDescription
0,3946,5.00,5.00,0,191,Amenity fee (08/2022),3946,3946,136,1311.0,...,2,3946,52500,False,666000,1192,Accept,33,745,Insufficient period of Residence History
1,3946,13.67,13.67,0,112,Water Charge,3946,3946,136,1311.0,...,2,3946,52500,False,666000,1192,Accept,33,745,Insufficient period of Residence History
2,3946,1311.00,1311.00,0,74,Rent (12/2022),3946,3946,136,1311.0,...,2,3946,52500,False,666000,1192,Accept,33,745,Insufficient period of Residence History
3,3946,13.00,13.00,0,129,Utility-trash charges (10/2021),3946,3946,136,1311.0,...,2,3946,52500,False,666000,1192,Accept,33,745,Insufficient period of Residence History
4,3946,42.92,42.92,0,111,Sewer Charge,3946,3946,136,1311.0,...,2,3946,52500,False,666000,1192,Accept,33,745,Insufficient period of Residence History
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739437,74273,4.17,4.17,0,191,Amenity Fee for 25 days,74273,74273,112,2489.0,...,15,74273,4800,False,153816,2539,Accept with Conditions (Max Deposit),37,595,High level of Charge-offs
739438,74273,65.00,65.00,0,134,Non-Refundable Application Fee (Tremendous Joh...,74273,74273,112,2489.0,...,15,74273,4800,False,153816,2539,Accept with Conditions (Max Deposit),37,595,High level of Charge-offs
739439,74273,5.00,5.00,0,186,Convenience Fee (Todre Butler),74273,74273,112,2489.0,...,15,74273,4800,False,153816,2539,Accept with Conditions (Max Deposit),37,595,High level of Charge-offs
739440,74273,2074.17,2074.17,0,74,Rent for 25 days,74273,74273,112,2489.0,...,15,74273,4800,False,153816,2539,Accept with Conditions (Max Deposit),37,595,High level of Charge-offs
739441,74273,65.00,65.00,0,134,Non-Refundable Application Fee (Todre Butler),74273,74273,112,2489.0,...,15,74273,4800,False,153816,2539,Accept with Conditions (Max Deposit),37,595,High level of Charge-offs