In [115]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import wrangle as w
import wrangle_test as wt
import explore as e

import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.utils import resample
from sklearn import metrics

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [116]:
df = w.get_cws_data()
df.head()

,id,total_charges,amount_paid,open,charge_code,description,prop_id,charge_name,sStatus,rent,term,monthly_inc,GuarantorRequired,total_inc,Recommendation,age,risk_score,reason,bad_resident
0,3946,75.00,75.00,0,131,"Uncllctbl key, remote fees",136,"Uncllctbl key, remote fees",Current,1311,15,52500,False,666000,Accept,33,745,Insufficient period of Residence History,1
1,3962,13.66,13.66,0,112,Water 8/1/2021-9/1/2021,136,Utility-water charges,Current,1661,12,65000,False,889992,Accept with Conditions (Extra Deposit),27,758,No Credit Experience,0
2,4050,46.17,46.17,0,155,Damage charges - Clean,136,Damage charges,Current,1412,12,48000,False,576000,Accept with Conditions (Extra Deposit),33,666,Insufficient period of Residence History,1
3,4948,9.76,9.76,0,111,Sewer Charge,140,Utility-sewer charges,Current,1377,18,72000,False,0,A-Criminal History Meets Requirements,39,0,Meets All Property Requirements,0
4,5001,6.85,6.85,0,113,Sewer Base Charge,140,Utility-water flat base charges,Current,2199,13,0,True,54996,Accept with Conditions (Guarantor),23,752,NaN,0

In [117]:
df.head()

,id,total_charges,amount_paid,open,charge_code,description,prop_id,charge_name,sStatus,rent,term,monthly_inc,GuarantorRequired,total_inc,Recommendation,age,risk_score,reason,bad_resident
0,3946,75.00,75.00,0,131,"Uncllctbl key, remote fees",136,"Uncllctbl key, remote fees",Current,1311,15,52500,False,666000,Accept,33,745,Insufficient period of Residence History,1
1,3962,13.66,13.66,0,112,Water 8/1/2021-9/1/2021,136,Utility-water charges,Current,1661,12,65000,False,889992,Accept with Conditions (Extra Deposit),27,758,No Credit Experience,0
2,4050,46.17,46.17,0,155,Damage charges - Clean,136,Damage charges,Current,1412,12,48000,False,576000,Accept with Conditions (Extra Deposit),33,666,Insufficient period of Residence History,1
3,4948,9.76,9.76,0,111,Sewer Charge,140,Utility-sewer charges,Current,1377,18,72000,False,0,A-Criminal History Meets Requirements,39,0,Meets All Property Requirements,0
4,5001,6.85,6.85,0,113,Sewer Base Charge,140,Utility-water flat base charges,Current,2199,13,0,True,54996,Accept with Conditions (Guarantor),23,752,NaN,0

In [118]:
y_train, y_val, y_test, train_scaled, val_scaled, test_scaled,train, val, test = wt.model_prep(df)

In [119]:
train.shape, val.shape, test.shape

((2799, 25), (1200, 25), (1000, 25))

In [120]:
train_scaled.head()

,rent,term,monthly_inc,total_inc,age,risk_score,prop_id_Arizona,prop_id_California,prop_id_Colorado,prop_id_Georgia,prop_id_North Carolina,prop_id_Tennessee,prop_id_Texas,prop_id_Washington,Recommendation_A-Criminal History Meets Requirements,Recommendation_A-Meets Requirements,Recommendation_Accept,Recommendation_Accept with Conditions (Extra Deposit),Recommendation_Accept with Conditions (Guarantor),Recommendation_Accept with Conditions (Max Deposit),Recommendation_Accept with Extra Security Deposit,Recommendation_Guarantor Not Qualified,Recommendation_Qualified Guarantor,Recommendation_REJECT
2707,-0.090190,12,-0.334993,-0.378361,-0.513961,-2.308439,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4983,0.122051,12,0.057028,-0.221645,-0.155214,0.593710,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
4959,-0.031824,9,0.285852,0.568771,0.382907,0.367771,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
4492,-0.249372,14,-0.175281,-0.078992,-0.334587,0.737843,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
995,0.281233,13,0.187701,-0.143971,-0.155214,0.511904,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [121]:
train.head()

,rent,term,monthly_inc,total_inc,age,risk_score,bad_resident,prop_id_Arizona,prop_id_California,prop_id_Colorado,prop_id_Georgia,prop_id_North Carolina,prop_id_Tennessee,prop_id_Texas,prop_id_Washington,Recommendation_A-Criminal History Meets Requirements,Recommendation_A-Meets Requirements,Recommendation_Accept,Recommendation_Accept with Conditions (Extra Deposit),Recommendation_Accept with Conditions (Guarantor),Recommendation_Accept with Conditions (Max Deposit),Recommendation_Accept with Extra Security Deposit,Recommendation_Guarantor Not Qualified,Recommendation_Qualified Guarantor,Recommendation_REJECT
2707,1639,12,3900.0,46800.0,27,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4983,1719,12,6600.0,75684.0,31,745,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
4959,1661,9,8176.0,221364.0,37,687,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
4492,1579,14,5000.0,101976.0,29,782,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
995,1779,13,7500.0,90000.0,31,724,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [122]:
train.bad_resident.value_counts()

0    2692
1     107
Name: bad_resident, dtype: int64

In [123]:
df_majority = train[train.bad_resident ==0]
df_minority = train[train.bad_resident ==1]

In [124]:
df_minority_upsampled = resample(df_minority, replace=True, n_samples=300 , random_state=1)

In [125]:
df_upsampled = pd.concat([df_minority_upsampled, df_majority])

In [126]:
df_upsampled.bad_resident.value_counts()

0    2692
1     300
Name: bad_resident, dtype: int64

In [127]:
df_upsampled.head()

,rent,term,monthly_inc,total_inc,age,risk_score,bad_resident,prop_id_Arizona,prop_id_California,prop_id_Colorado,prop_id_Georgia,prop_id_North Carolina,prop_id_Tennessee,prop_id_Texas,prop_id_Washington,Recommendation_A-Criminal History Meets Requirements,Recommendation_A-Meets Requirements,Recommendation_Accept,Recommendation_Accept with Conditions (Extra Deposit),Recommendation_Accept with Conditions (Guarantor),Recommendation_Accept with Conditions (Max Deposit),Recommendation_Accept with Extra Security Deposit,Recommendation_Guarantor Not Qualified,Recommendation_Qualified Guarantor,Recommendation_REJECT
62,1473,12,3306.0,45000.0,28,733,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2198,1279,13,5500.0,66000.0,40,720,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
6,1704,12,5528.0,66336.0,23,768,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
31,1455,12,4500.0,54000.0,25,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
900,2160,14,8000.0,96000.0,23,524,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [128]:
df_upsampled[['rent', 'monthly_inc', 'total_inc','age', 'risk_score']] = StandardScaler().fit_transform(df_upsampled[['rent', 'monthly_inc', 'total_inc','age', 'risk_score']])

In [129]:
df_upsampled.head()

,rent,term,monthly_inc,total_inc,age,risk_score,bad_resident,prop_id_Arizona,prop_id_California,prop_id_Colorado,prop_id_Georgia,prop_id_North Carolina,prop_id_Tennessee,prop_id_Texas,prop_id_Washington,Recommendation_A-Criminal History Meets Requirements,Recommendation_A-Meets Requirements,Recommendation_Accept,Recommendation_Accept with Conditions (Extra Deposit),Recommendation_Accept with Conditions (Guarantor),Recommendation_Accept with Conditions (Max Deposit),Recommendation_Accept with Extra Security Deposit,Recommendation_Guarantor Not Qualified,Recommendation_Qualified Guarantor,Recommendation_REJECT
62,-0.523862,12,-0.279226,-0.350676,-0.417107,0.555060,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2198,-1.017752,13,-0.086724,-0.250660,0.654814,0.504401,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
6,0.064222,12,-0.084268,-0.249060,-0.863740,0.691450,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
31,-0.569687,12,-0.174465,-0.307812,-0.685087,-2.301335,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
900,1.225117,14,0.132626,-0.107782,-0.863740,-0.259383,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [130]:
X_train_upsampled = df_upsampled.drop('bad_resident',axis=1)
y_train_upsampled = df_upsampled['bad_resident']

In [131]:
X_train_upsampled.head()

,rent,term,monthly_inc,total_inc,age,risk_score,prop_id_Arizona,prop_id_California,prop_id_Colorado,prop_id_Georgia,prop_id_North Carolina,prop_id_Tennessee,prop_id_Texas,prop_id_Washington,Recommendation_A-Criminal History Meets Requirements,Recommendation_A-Meets Requirements,Recommendation_Accept,Recommendation_Accept with Conditions (Extra Deposit),Recommendation_Accept with Conditions (Guarantor),Recommendation_Accept with Conditions (Max Deposit),Recommendation_Accept with Extra Security Deposit,Recommendation_Guarantor Not Qualified,Recommendation_Qualified Guarantor,Recommendation_REJECT
62,-0.523862,12,-0.279226,-0.350676,-0.417107,0.555060,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2198,-1.017752,13,-0.086724,-0.250660,0.654814,0.504401,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0
6,0.064222,12,-0.084268,-0.249060,-0.863740,0.691450,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
31,-0.569687,12,-0.174465,-0.307812,-0.685087,-2.301335,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
900,1.225117,14,0.132626,-0.107782,-0.863740,-0.259383,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [132]:
y_train.value_counts()

0    2692
1     107
Name: bad_resident, dtype: int64

In [133]:
y_train_upsampled.value_counts()

0    2692
1     300
Name: bad_resident, dtype: int64

In [143]:
def get_knn(X_train_upsampled, val_scaled, y_train_upsampled, y_validate):
    ''' get KNN precision on train and validate data'''
    
    
    # create model
    knn= KNeighborsClassifier(n_neighbors =3)

    # fit the model to train data
    knn.fit(X_train_upsampled, y_train_upsampled)
    
    # make prediction on train obeservations
    y_pred = knn.predict(X_train_upsampled)
    
    y_pred_val = knn.predict(val_scaled)
    
    confusion_matrix = metrics.confusion_matrix(y_train_upsampled, y_pred)
    print(confusion_matrix)
    print()
    
    print('Classification Report on upsampled Train: ')
    print(classification_report(y_train_upsampled, y_pred), '\n')
    
  
    confusion_matrix1 = metrics.confusion_matrix(y_validate, y_pred_val)
    print(confusion_matrix1)
    print()
    
    print('Classification Report on Validate: ')
    print(classification_report(y_validate, y_pred_val))

In [144]:
get_knn(X_train_upsampled, val_scaled, y_train_upsampled, y_val)

[[2616   76]
 [  11  289]]

Classification Report on upsampled Train:
              precision    recall  f1-score   support

           0       1.00      0.97      0.98      2692
           1       0.79      0.96      0.87       300

    accuracy                           0.97      2992
   macro avg       0.89      0.97      0.93      2992
weighted avg       0.98      0.97      0.97      2992


[[1094   60]
 [  39    7]]

Classification Report on Validate:
              precision    recall  f1-score   support

           0       0.97      0.95      0.96      1154
           1       0.10      0.15      0.12        46

    accuracy                           0.92      1200
   macro avg       0.54      0.55      0.54      1200
weighted avg       0.93      0.92      0.92      1200